<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-map (locationSelected)="getAddressFromCoords($event.lat, $event.lng)"></app-map>
    </div>
    <div class="col-md-6">
      <div class="form-scroll-container">
        <div class="form-content">
          <h2 class="form-title">Please fill the form</h2>
          <form [formGroup]="staffBookingForm" (ngSubmit)="onSubmit()">
            <div class="row g-3">
              <div class="col-md-12">
                <label class="form-label">Enter your area</label>
                <input type="text" class="form-control" formControlName="userAddress" [class.is-invalid]="
      staffBookingForm.get('userAddress')?.invalid &&
      staffBookingForm.get('userAddress')?.touched
    " />
                <div *ngIf="
      staffBookingForm.get('userAddress')?.invalid &&
      staffBookingForm.get('userAddress')?.touched
    " class="invalid-feedback">
                  Area is required.
                </div>
              </div>
            </div>
            <div formArrayName="staff">
              <div *ngFor="let staffGroup of staffListFormArray.controls; let i = index" [formGroupName]="i">
                <div class="col-md-12 d-flex justify-content-end mt-3">
                  <button type="button" *ngIf="i !== 0"
                    class="btn btn-outline-danger btn-lg rounded-circle d-flex align-items-center justify-content-center"
                    style="width: 20px; height: 30px;" (click)="removeStaff(i)" title="Remove Staff">
                    <i class="bi bi-trash fs-5"></i>
                  </button>
                </div>
                <!-- this needs to be repeated-->
                <div formArrayName="staffDetails">
                  <div *ngFor="let staffDetails of getNestedStaffDetailsControls(i); let s = index" [formGroupName]="s">
                    <div class="row g-3">
                      <div class="col-md-12">
                        <label for="category-{{ i }}" class="form-label">Select Staff Type</label>
                        <select class="form-select" id="category-{{ i }}" formControlName="category" [class.is-invalid]="
                    staffDetails.get('category')?.invalid &&
                    staffDetails.get('category')?.touched
                  ">
                          <option value="" disabled>Select Type</option>
                          <option *ngFor="let staff of staffTypes" [value]="staff.value">
                            {{ staff.label }}
                          </option>
                        </select>
                        <div *ngIf="
                    staffDetails.get('category')?.invalid &&
                    staffDetails.get('category')?.touched
                  " class="invalid-feedback">
                          Type of Staff is required.
                        </div>
                      </div>
                      <div class="col-md-12">
                        <label for="subCategory-{{ i }}" class="form-label">Selct Nurse Type</label>
                        <select class="form-select" id="subCategory-{{ i }}" formControlName="subCategory"
                          [disabled]="!staffDetails.get('category')?.value" [class.is-invalid]="
                    staffDetails.get('subCategory')?.invalid &&
                    staffDetails.get('subCategory')?.touched
                  ">
                          <option value="" disabled>Select Nurse</option>
                          <option *ngFor="let nurse of typesOfNurses" [value]="nurse.value">
                            {{ nurse.label }}
                          </option>
                        </select>
                        <div *ngIf="
                    staffDetails.get('subCategory')?.invalid &&
                    staffDetails.get('subCategory')?.touched
                  " class="invalid-feedback">
                          Type of Nurse is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- this needs to be repeated-->
                <div formArrayName="shiftDetails">
                  <div *ngFor="let shiftDetail of getNestedShiftDetailsControls(i); let sh = index"
                    [formGroupName]="sh">
                    <div class="row g-3">
                      <div class="col-md-2">
                        <label class="form-label">Prefered Time Slot</label>
                        <select class="form-select" formControlName="timeSlot" [class.is-invalid]="
                    shiftDetail.get('timeSlot')?.invalid &&
                    shiftDetail.get('timeSlot')?.touched
                  ">
                          <option *ngFor="let time of times" [value]="time.value">
                            {{ time.label }}
                          </option>
                        </select>
                        <div *ngIf="
                    shiftDetail.get('timeSlot')?.invalid &&
                    shiftDetail.get('timeSlot')?.touched
                  " class="invalid-feedback">
                          Time Slot is required.
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label class="form-label d-block">Prefered Gender</label>
                        <select class="form-select" formControlName="gender" [class.is-invalid]="
                    shiftDetail.get('gender')?.invalid &&
                    shiftDetail.get('gender')?.touched
                  ">
                          <option *ngFor="let gen of gender" [value]="gen.value">
                            {{ gen.label }}
                          </option>
                        </select>
                        <div *ngIf="
                    shiftDetail.get('gender')?.invalid &&
                    shiftDetail.get('gender')?.touched
                  " class="invalid-feedback">
                          Area is required.
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label for="quantity-{{ i }}" class="form-label">Quantity</label>
                        <div class="input-group quantity-selector">
                          <input type="number" class="form-control" aria-live="polite" data-bs-step="counter"
                            title="quantity" value="1" min="1" max="10" step="1" data-bs-round="0"
                            aria-label="Quantity selector" formControlName="quantity">
                        </div>
                      </div>

                      <div class="col-md-2">
                        <label class="form-label">Tenure</label>
                        <select class="form-select" formControlName="tenure" [class.is-invalid]="
                    shiftDetail.get('tenure')?.invalid &&
                    shiftDetail.get('tenure')?.touched
                  ">
                          <option *ngFor="let ten of tenure" [value]="ten.value">
                            {{ ten.label }}
                          </option>
                        </select>
                        <div *ngIf="
                    shiftDetail.get('tenure')?.invalid &&
                    shiftDetail.get('tenure')?.touched
                  " class="invalid-feedback">
                          Shift type is required.
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label class="form-label">Duty Start Date</label>
                        <input type="date" class="form-control" formControlName="startDate" />
                      </div>
                      <div class="col-md-2 d-flex align-items-start gap-2 mt-3">
                        <!-- Add Button -->
                        <button type="button" *ngIf="sh === 0"
                          class="btn btn-outline-success btn-lg rounded-circle mt-3 d-flex align-items-center justify-content-center"
                          style="width: 20px; height: 30px;" (click)="addShift(i)" title="Add Time Slot">
                          <i class="bi bi-plus-lg fs-5"></i>
                        </button>
                        <!-- Remove Button -->
                        <button type="button" *ngIf="getNestedShiftDetailsControls(i).length > 1 && sh > 0"
                          class="btn btn-outline-danger btn-lg rounded-circle mt-3 d-flex align-items-center justify-content-center"
                          style="width: 20px; height: 30px;" (click)="removeShiftDetail(i, sh)"
                          title="Remove Time Slot">
                          <i class="bi bi-x-lg fs-5"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end mb-4">
              <button type="button" class="text-btn" (click)="addNewStaff()">
                <i class="bi bi-plus"></i>Add New Staff
              </button>
            </div>
            <div class="submission-fixed">
              <button type="submit" class="btn btn-primary">Search For Staff</button>
              <!-- <app-submission></app-submission> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>