<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 h-100">
      <app-map (locationSelected)="getAddressFromCoords($event.lat, $event.lng)"></app-map>
    </div>
    <div class="col-md-8 search-staff-form">
      <div class="form-scroll-container">
        <div class="form-content">
          <h2 class="form-title">Please fill the form</h2>
          <form [formGroup]="staffBookingForm" (ngSubmit)="onSubmit()">
            <div class="row my-3">
              <div class="col-md-12">
                <label class="form-label">Select your area</label>
                <input type="text" class="form-control" formControlName="userAddress" [class.is-invalid]="
    staffBookingForm.get('userAddress')?.invalid &&
    staffBookingForm.get('userAddress')?.touched
  " />
                <div *ngIf="
    staffBookingForm.get('userAddress')?.invalid &&
    staffBookingForm.get('userAddress')?.touched
  " class="invalid-feedback">
                  Area is required.
                </div>
              </div>
            </div>
            <div formArrayName="staff" class="staff-list">
              <div class="pe-2" *ngFor="let staffGroup of staffListFormArray.controls; let i = index"
                [formGroupName]="i">
                @if(i > 0){
                <div class="indexed-divider-container">
                  <div class="line"></div>
                  <span class="index-number">{{ i }}</span>
                  <div class="line"></div>
                </div>
                }
                <div class="col-md-12 d-flex justify-content-end">
                  <button type="button" *ngIf="i !== 0"
                    class="btn btn-outline-danger btn-lg rounded-circle d-flex align-items-center justify-content-center"
                    style="width: 20px; height: 30px;" (click)="removeStaff(i)" title="Remove Staff">
                    <i class="bi bi-trash fs-5"></i>
                  </button>
                </div>
                <div formArrayName="staffDetails">
                  <div *ngFor="let staffDetails of getNestedStaffDetailsControls(i); let s = index" [formGroupName]="s">
                    <div class="row">
                      <div class="col-md-12 mb-2">
                        <label for="category-{{ i }}" class="form-label">Select Staff Type</label>
                        <select class="form-select" id="category-{{ i }}" formControlName="category" [class.is-invalid]="
                      staffDetails.get('category')?.invalid &&
                      staffDetails.get('category')?.touched
                    ">
                          <option value="" disabled>Select Type</option>
                          <option *ngFor="let staff of staffTypes" [value]="staff.value">
                            {{ staff.label }}
                          </option>
                        </select>
                        <div *ngIf="
                      staffDetails.get('category')?.invalid &&
                      staffDetails.get('category')?.touched
                    " class="invalid-feedback">
                          Type of Staff is required.
                        </div>
                      </div>
                      <ng-container
                        *ngIf="staffDetails.get('category')?.value && staffDetails.get('category')?.value !== ''">
                        <div class="col-md-12 my-3">
                          <label for="subCategory-{{ i }}" class="form-label">Select {{
                            staffDetails.get('category')?.value | titlecase }} Type</label>
                          <select class="form-select" id="subCategory-{{ i }}" formControlName="subCategory"
                            [disabled]="!staffDetails.get('category')?.value" [class.is-invalid]="
                        staffDetails.get('subCategory')?.invalid &&
                        staffDetails.get('subCategory')?.touched
                      ">
                            <option value="" disabled>Select {{ staffDetails.get('category')?.value | titlecase }}
                            </option>
                            <option *ngFor="let nurse of typesOfNurses" [value]="nurse.value">
                              {{ nurse.label }}
                            </option>
                          </select>
                          <div *ngIf="
                        staffDetails.get('subCategory')?.invalid &&
                        staffDetails.get('subCategory')?.touched
                      " class="invalid-feedback">
                            Type of {{ staffDetails.get('category')?.value | titlecase }} is required.
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                @if(getNestedStaffDetailsControls(i)[0]?.get('category')?.value) {
                  <ng-container>
                  <div formArrayName="shiftDetails">
                    <div *ngFor="let shiftDetail of getNestedShiftDetailsControls(i); let sh = index"
                      [formGroupName]="sh" class="shift-detail">
                      <div class="row d-flex">
                        <div class="col-md-4">
                          <label class="form-label">Duty Start Time</label>
                          <div class="d-flex gap-3 align-items-center"
                            [class.is-invalid]="shiftDetail.get('timeSlot')?.errors?.['pastTime'] && shiftDetail.get('timeSlot')?.touched">
                            <div class="input-group input-group-time d-flex align-items-center">
                              <button class="btn btn-minus px-0" type="button" (click)="decrementTime('hours',i,sh)">
                                <i class="bi bi-dash"></i>
                              </button>
                              <input type="number" [value]="pad(shiftDetail.get('hours')?.value)"
                                class="form-control px-0" formControlName="hours" value="09" min="0" max="12" readonly>
                              <button class="btn btn-plus px-0" type="button" (click)="incrementTime('hours',i,sh)">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                            <div class="input-group input-group-time align-items-center d-flex">
                              <button class="btn btn-minus px-0" type="button" (click)="decrementTime('minutes',i,sh)">
                                <i class="bi bi-dash"></i>
                              </button>
                              <input type="number" [value]="pad(shiftDetail.get('minutes')?.value)"
                                class="form-control px-0" formControlName="minutes" value="00" min="0" max="59"
                                readonly>
                              <button class="btn btn-plus px-0" type="button" (click)="incrementTime('minutes',i,sh)">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                            <select class="form-select time-select" formControlName="ampm">
                              <option value="AM">AM</option>
                              <option value="PM">PM</option>
                            </select>                            
                          </div>
                          <div class="text-danger"
                              *ngIf="shiftDetail.get('timeSlot')?.errors?.['pastTime'] && shiftDetail.get('timeSlot')?.touched">
                              Past time is not allowed.
                            </div>
                        </div>
                        <div class="col-md-2">
                          <label class="form-label">Shift Time</label>
                          <select class="form-select" formControlName="shiftType" [class.is-invalid]="
                        shiftDetail.get('shiftType')?.invalid &&
                        shiftDetail.get('shiftType')?.touched
                      ">
                            <option value="" disabled>Select Time</option>
                            <option *ngFor="let type of shiftTypes" [value]="type">
                              {{ type }}
                            </option>
                          </select>
                          <div *ngIf="
                        shiftDetail.get('shiftType')?.invalid &&
                        shiftDetail.get('shiftType')?.touched
                      " class="invalid-feedback">
                            Shift Type is required.
                          </div>
                        </div>
                        <div class="col-md-2">
                          <label class="form-label d-block">Prefered Gender</label>
                          <input type="text" readonly value="Male" class="form-control">
                          <input type="text" readonly value="Female" class="form-control mt-2">
                          <div class="text-danger"
                            *ngIf="shiftDetail.errors?.['zeroQuantity'] && (shiftDetail.touched || shiftDetail.dirty)">
                            Quantity is required.
                          </div>
                        </div>
                        <div class="col-md-2">
                          <label class="form-label">Quantity</label>
                          <div class="d-flex align-items-center mb-2 counter-box">
                            <button class="btn btn-minus px-0" type="button" (click)="decrease('male', i, sh)">
                              <i class="bi bi-dash"></i>
                            </button>
                            <input type="number" class="form-control" [formControlName]="'male'" min="0" max="10"
                              readonly readonly>
                            <button class="btn btn-plus px-0" type="button" (click)="increase('male', i, sh)">
                              <i class="bi bi-plus"></i>
                            </button>
                          </div>
                          <div class="d-flex align-items-center counter-box">
                            <button class="btn btn-minus px-0" type="button" (click)="decrease('female', i, sh)">
                              <i class="bi bi-dash"></i>
                            </button>
                            <input type="number" class="form-control" [formControlName]="'female'" min="0" max="10"
                              readonly readonly>
                            <button class="btn btn-plus px-0" type="button" (click)="increase('female', i, sh)">
                              <i class="bi bi-plus"></i>
                            </button>
                          </div>
                          
                        </div>                        
                        <div class="col-md-2">
                          <label class="form-label">Tenure</label>
                          <select class="form-select" formControlName="tenure" [class.is-invalid]="
                        shiftDetail.get('tenure')?.invalid &&
                        shiftDetail.get('tenure')?.touched
                      ">
                            <option *ngFor="let ten of tenure" [value]="ten.value">
                              {{ ten.label }}
                            </option>
                          </select>
                          <div *ngIf="
                        shiftDetail.get('tenure')?.invalid &&
                        shiftDetail.get('tenure')?.touched
                      " class="invalid-feedback">
                            Tenure is required.
                          </div>
                        </div>
                        <div class="col-md-12">
                          <label class="form-label">Duty Start Date</label>
                          <input type="date" class="form-control" [min]="today" formControlName="startDate" />
                        </div>
                        <div class="d-flex align-items-start justify-content-end gap-2 mt-3">
                          <i *ngIf="sh === 0" class="bi bi-plus-lg fs-5 add" (click)="addShift(i)"
                            title="Add Time Slot"></i>
                          <i *ngIf="getNestedShiftDetailsControls(i).length > 1 && sh > 0"
                            class="bi bi-x-lg fs-5 text-danger remove" (click)="removeShiftDetail(i, sh)"
                            title="Remove Time Slot"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                }
                
              </div>
            </div>
            <ng-container *ngIf="staffListFormArray.controls[0]?.get('staffDetails')?.get('0')?.get('category')?.value">
              <div class="d-flex justify-content-center addNewBtn p-2 my-2">
                <button type="button" class="text-btn" (click)="addNewStaff()">
                  <i class="bi bi-plus"></i>Add Another Staff
                </button>
              </div>
              <div class="submission-fixed d-flex justify-content-end">
                <app-submission [buttonType]="button"></app-submission>
              </div>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>