.form {
    height: 52vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.staff-list {
    overflow-x: hidden;
    overflow-y: scroll;

    &:hover {
        overflow-y: auto;
    }

    &:focus-within {
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: 3px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #09b8c2;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
}

.indexed-divider-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #6c757d;
    font-weight: bold;
    font-size: 0.9rem;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #dee2e6;
}

.index-number {
    color: #09b8c2;
    padding: 5px 12px;
    background-color: #e0fcff;
    border-radius: 50%;
    min-width: 25px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.form-group {
    position: relative;
}

.address {
    position: absolute;
    left: 5px;
    top: 34px;
    color: #09b8c2;
}

.female {
    top: 8px !important;
}