<div class="carousel-container position-relative overflow-hidden d-flex align-items-center">
  <div *ngIf="!isMobile" class="carousel-container d-flex w-100 justify-content-center align-items-center">
    <button
      class="side-nav-button fa fa-chevron-left left-button mat-elevation-z4"
      (click)="scrollCarousel('left')"
    >
       </button>

  <!-- <div #carouselTrack class="d-flex w-100 justify-content-start align-items-start"  style="
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 6px 12px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  ">
    <div class="card-wrapper me-2" *ngFor="let item of visibleItems">
      <div class="card-content border rounded d-flex flex-column align-items-center justify-content-center p-2"
           style="cursor: pointer;"
           (click)="goToCategory(item.link)">
        <img [src]="item.image" [alt]="item.label" class="carousel-image img-fluid" />
      </div>
    </div>
  </div> -->
<div #categoryCarouselWrapper class="carousel-wrapper">
      <mat-card
        *ngFor="let item of visibleItems"
        class="category-card mat-elevation-z4"
        (click)="goToCategory(item.link)"
      >
        <img mat-card-image [src]="item.image" [alt]="item.label" />
        <mat-card-content>
          <h3>{{ item.label }}</h3>
        </mat-card-content>
      </mat-card>
    </div>

  <button
      class="side-nav-button fa fa-chevron-right right-button mat-elevation-z4"
      (click)="scrollCarousel('right')"
    ></button>
</div>

  <div *ngIf="isMobile" class="mobile-grid-container w-100">
    <div class="row g-2"> 
      <div class="col-4" *ngFor="let item of items"> 
        <div class="card-content-mobile "
              style="cursor: pointer;"
              (click)="goToCategory(item.link)">
          <img [src]="item.image" [alt]="item.label" class="carousel-image img-fluid" height="150"/>
          <p class="carousel-title text-center">{{ item.label }}</p>
        </div>
      </div>
    </div>
  </div>
  
  </div>
