<div class="carousel-container position-relative overflow-hidden d-flex align-items-center">
  <div *ngIf="!isMobile" class="d-flex w-100 justify-content-start">
    <div class="card-wrapper me-2" *ngFor="let item of visibleItems">
      <div class="card-content border rounded d-flex flex-column align-items-center justify-content-center p-2"
           style="cursor: pointer;"
           (click)="goToCategory(item.link)">
        <img [src]="item.image" [alt]="item.label" class="carousel-image img-fluid" height="150"/>
        <!-- <p class="carousel-title text-center ">{{ item.label }}</p> -->
      </div>
    </div>
  </div>

  <div *ngIf="isMobile" class="mobile-grid-container w-100">
    <div class="row g-2"> 
      <div class="col-4" *ngFor="let item of items"> 
        <div class="card-content-mobile "
              style="cursor: pointer;"
              (click)="goToCategory(item.link)">
          <img [src]="item.image" [alt]="item.label" class="carousel-image img-fluid" height="150"/>
          <p class="carousel-title text-center">{{ item.label }}</p>
        </div>
      </div>
    </div>
  </div>
  
  </div>
