.form-group {
    position: relative;
}

.icons {
    position: absolute;
    left: 5px;
    top: 34px;
    color: #09b8c2;
}

@media screen and (min-width: 992px) {
    .container {
        width: 50%;
    }
}