<div class="category-page">
    <div class="section-header">
        <!-- <mat-paginator 
            [length]="totalProducts"
            [pageSize]="pageSize"
            [pageSizeOptions]="[10, 30, 50, 100]"
            (page)="handlePageEvent($event)"
            aria-label="Select page"
            class="product-paginator product-paginator-top"
        ></mat-paginator> -->
        
        <!-- <h2>{{ categoryName }} Products ({{ totalProducts }} items)</h2> -->
    </div>

    <div class="product-grid-container">
        
        <div *ngIf="products$ | async as products; else loadingOrNoProducts" class="product-grid">
            
            <ng-container *ngIf="products.length > 0; else noProducts">
                
                <mat-card
                    *ngFor="let product of products" 
                    class="product-card mat-elevation-z2"
                     style="cursor:pointer;"
  (click)="goToProduct(product)"
                >
                    <img 
                        mat-card-image 
                        [src]="getFirstImageUrl(product.imageUrl)" 
                        [alt]="product.name" 
                    />
                    
                    <mat-card-content class="product-info-content">
                        <h3 class="product-name">{{ product.name }}</h3>
                        
                        <p class="product-dosage-info">bottle of 30 ml Dilution</p>

                        <div *ngIf="product.rating || product.discount" class="secondary-info-row">
                             <div *ngIf="product.rating" class="rating-badge">
                                <span class="rating-value">4.4</span>
                                <span class="ratings-count">({{ product.rating.count }})</span>
                            </div>
                            
                            <span *ngIf="product.discount" class="discount-badge">{{ product.discount }} OFF</span>
                        </div>
                        
                        <div class="price-action-row">
                            <div class="price-info">
                                <p *ngIf="product.mrpOld" class="mrp">MRP ₹{{ product.mrpOld }}</p>
                                <p class="current-price">MRP ₹{{ product.mrp }}</p>
                            </div>
                            
                            <!-- <button class="add-button" mat-button>ADD</button> -->
                        </div>
                    </mat-card-content>
                </mat-card>
            </ng-container>

            <ng-template #noProducts>
                <p class="text-center no-products-message">Sorry, {{ categoryName }} category mein koi product nahi mila.</p>
            </ng-template>
        </div>

        <ng-template #loadingOrNoProducts>
            <p>Loading Products...</p>
        </ng-template>
    </div>
    
    <mat-paginator 
        [length]="totalProducts"
        [pageSize]="pageSize"
        [pageSizeOptions]="[10, 30, 50, 100]"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
        class="product-paginator product-paginator-bottom"
    ></mat-paginator>

</div>
