.reset-password-form {
  max-width: 400px;
  margin: 0 auto;

  h2 {
    font-weight: 600;
  }

  .form-control {
    border-radius: 8px;
  }

  button {
    border-radius: 8px;
    font-weight: 500;
  }

  .links {
    cursor: pointer;
    color: #007bff;
    font-weight: 500;
  }
}
