<div class="header-bar">

  <i class="bi bi-arrow-left  back-icon"
     (click)="goBack()"></i>

  <span class="header-title">
    Add delivery address
  </span>
</div>

<div class="page-wrapper">

  <div class="form-card">

    <!-- FULL NAME -->
    <input type="text"
           placeholder="Full Name (Required)*"
           [(ngModel)]="address.fullName"
           class="input-field">

    <!-- PHONE -->
    <input type="text"
           placeholder="Phone number (Required)*"
           [(ngModel)]="address.phone"
           class="input-field">

    <!-- PINCODE + LOCATION BUTTON -->
    <div class="row-flex">

      <input type="text"
             placeholder="Pincode (Required)*"
             [(ngModel)]="address.pincode"
             class="input-field flex-1">

      <!-- <button style="width:220px;
                     background:#2874f0;
                     color:#fff;
                     border:none;
                     font-size:14px;
                     font-weight:500;
                     display:flex;
                     align-items:center;
                     justify-content:center;
                     gap:8px;">
        <i class=" bi-crosshair"></i>
        Use my location
      </button> -->
<!-- MAP SEARCH -->
<!-- <input type="text"
       placeholder="Search location on map"
       (input)="onAddressInputChange()"
       [(ngModel)]="address.mapSelectedAddress"
       name="mapSelectedAddress"
       style="width:100%;
              height:48px;
              border:1px solid #ddd;
              padding:0 12px;
              font-size:14px;
              margin-bottom:20px;">


<div id="map" 
     style="width:100%;
            height:300px;
            margin-bottom:20px;">
</div> -->

    </div>
  <div class="map-section">

  <label class="form-label">Search Location *</label>

  <input type="text"
        class="input-field"
         [(ngModel)]="address.mapSelectedAddress"
       (ngModelChange)="onAddressInputChange($event)"
       name="mapSelectedAddress"
       id="locationInput">

                   <div class="col-md-4 h-100 w-100 map-styles">
      <app-map (locationSelected)="getAddressFromCoords($event.lat, $event.lng)"></app-map>
    </div>

</div>
    <!-- STATE + CITY -->
    <div class="row-flex">

      <input type="text"
             placeholder="State (Required)*"
             [(ngModel)]="address.state"
             class="input-field flex-1">

      <input type="text"
             placeholder="City (Required)*"
             [(ngModel)]="address.city"
             class="input-field flex-1">

    </div>

    <!-- HOUSE -->
    <input type="text"
           placeholder="House No., Building Name (Required)*"
           [(ngModel)]="address.house"
           class="input-field">

    <!-- AREA -->
    <input type="text"
           placeholder="Road name, Area, Colony (Required)*"
           [(ngModel)]="address.area"
           class="input-field">

    <!-- ADDRESS TYPE -->
    <div class="address-type-label">
      Type of address
    </div>

    <div class="row-flex">

      <button (click)="address.type='Home'"
              [style.background]="address.type==='Home' ? '#e0e0e0' : '#fff'"
              class="type-btn">
        <i class="bi bi-house"></i>
        Home
      </button>

      <button (click)="address.type='Work'"
              [style.background]="address.type==='Work' ? '#e0e0e0' : '#fff'"
              class="type-btn">
        <i class="bi bi-building"></i>
        Work
      </button>

    </div>

    <!-- SAVE BUTTON -->
    <button (click)="saveAddress()"
           class="save-btn">
      Save Address
    </button>

  </div>

</div>

