<form [formGroup]="profileForm">
  <ng-template #loadingTpl>
    <div class="container mt-5 text-center">
      <div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
  </ng-template>
  <div class="container mt-5" *ngIf="profileLoaded; else loadingTpl">
    <div class="row">
      <div class="col-12 col-md-6">
        <h5>Hi, {{ profile?.displayName || profile?.userName || 'User' }}!</h5>
        <hr>

        <!-- Mobile Number -->
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="w-100">
            <p class="text-muted mb-0"><i class="bi bi-telephone text-primary"></i> Mobile Number</p>

            <ng-container *ngIf="editField === 'mobile'; else showMobile">
              <input type="text" class="form-control border-0 border-bottom w-100" formControlName="phoneNumber" />
              <div *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid">
                <small class="text-danger">Phone number is required</small>
              </div>
            </ng-container>

            <ng-template #showMobile>
              {{ profile?.phoneNumber ? ('+91 ' + profile.phoneNumber) : '—' }}
            </ng-template>
          </div>

          <div class="mt-4 ms-3">
            <ng-container *ngIf="editField === 'mobile'; else editMobileBtn">
               <div class="d-inline-flex align-items-center gap-2">
              <button class="btn text-primary savecls border-0 rounded-pill text-light" (click)="submitEdit('mobile')"
                [disabled]="saving">
                {{ saving ? 'Saving...' : 'Save' }}
              </button>
              <button class="btn text-primary cancelCls text-light rounded-pill " (click)="cancelEdit()">Cancel</button>
              </div>
            </ng-container>

            <ng-template #editMobileBtn>
              <button class="btn text-primary editcls border-0 rounded-pill text-light"
                (click)="startEdit('mobile')">Edit</button>
            </ng-template>
          </div>
        </div>
        <hr>

        <!-- Email -->
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="w-100">
            <p class="text-muted mb-0"><i class="bi bi-envelope text-primary"></i> Email</p>

            <ng-container *ngIf="editField === 'email'; else showEmail">
              <input type="email" class="form-control border-0 border-bottom w-100" formControlName="email" />
              <div *ngIf="f['email'].touched && f['email'].invalid">
                <small class="text-danger">Email is required</small>
              </div>
            </ng-container>

            <ng-template #showEmail>
              {{ profile?.email || '—' }}
            </ng-template>
          </div>

          <div class="mt-4 ms-3">
            <ng-container *ngIf="editField === 'email'; else editEmailBtn">
              <div class="d-inline-flex align-items-center gap-2">
              <button class="btn text-primary savecls border-0 rounded-pill text-light" (click)="submitEdit('email')"
                [disabled]="saving">
                {{ saving ? 'Saving...' : 'Save' }}
              </button>
              <button class="btn text-primary cancelCls rounded-pill text-light" (click)="cancelEdit()">Cancel</button>
              </div>
            </ng-container>

            <ng-template #editEmailBtn>
              <button class="btn text-primary editcls border-0 rounded-pill text-light"
                (click)="startEdit('email')">Edit</button>
            </ng-template>
          </div>
        </div>
        <hr>

        <!-- Address -->
        <!-- <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="w-100">
          <p class="text-muted mb-0"><i class="bi bi-geo-alt text-primary"></i> Your Address</p>

          <ng-container *ngIf="editField === 'address'; else showAddress">
            <input type="text" class="form-control border-0 border-bottom w-100"
                   formControlName="fullAddress"  />
           <div *ngIf="f['fullAddress'].touched && f['fullAddress'].invalid">
  <small class="text-danger">Address is required</small>
</div>
          </ng-container>

          <ng-template #showAddress>
            {{ profile?.fullAddress || '—' }}
          </ng-template>
        </div>

        <div class="mt-4 ms-3">
          <ng-container *ngIf="editField === 'address'; else editAddressBtn">
            <button class="btn text-primary border-0 rounded-pill text-light" (click)="submitEdit('address')" [disabled]="saving">
              {{ saving ? 'Saving...' : 'Save' }}
            </button>
            <button class="btn btn-link rounded-pill text-light" (click)="cancelEdit()">Cancel</button>
          </ng-container>

          <ng-template #editAddressBtn>
            <button class="btn text-primary border-0 rounded-pill text-light" (click)="startEdit('address')">Edit</button>
          </ng-template>
        </div>
      </div>
      <hr> -->
        <!-- Address -->
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="w-100">
            <p class="text-muted mb-0">
              <i class="bi bi-geo-alt text-primary"></i> Your Address
            </p>

            <!-- EDIT MODE -->
            <ng-container *ngIf="editField === 'address'; else showAddress">
              <input type="text" class="form-control border-0 border-bottom w-100" formControlName="fullAddress" />
              <div *ngIf="f['fullAddress'].touched && f['fullAddress'].invalid">
                <small class="text-danger">Address is required</small>
              </div>
            </ng-container>

            <!-- VIEW MODE -->
            <ng-template #showAddress>
              <ng-container *ngIf="selectedAddress; else noAddress">
                {{ buildAddress(selectedAddress) }}
              </ng-container>

              <ng-template #noAddress>
                —
              </ng-template>
            </ng-template>
          </div>

          <div class="mt-4 ms-3">
            <ng-container *ngIf="editField === 'address'; else editAddressBtn">
              <div class="d-inline-flex align-items-center gap-2">

                <button class="btn text-primary savecls  border-0 rounded-pill text-light" (click)="submitEdit('address')"
                  [disabled]="saving">
                  {{ saving ? 'Saving...' : 'Save' }}
                </button>
                <button class="btn text-primary cancelCls rounded-pill text-light" (click)="cancelEdit()">
                  Cancel
                </button>
              </div>
            </ng-container>

            <ng-template #editAddressBtn>
              <button class="btn text-primary editcls border-0 rounded-pill text-light" (click)="startEdit('address')">
                Edit
              </button>
            </ng-template>
          </div>
        </div>
        <hr>

      </div>

      <div class="col-12 col-md-6">
        <div class="ps-4 pt-4">
          <div class="cards py-3 px-2">
            <h5 class="text-muted" [routerLink]="['/medicine']">
              <i class="bi bi-1-circle"></i> &nbsp;Order Medicines
            </h5>
          </div>
          <div class="cards py-3 px-2 my-2">
            <h5 class="text-muted my-3" [routerLink]="['/book-staff']">
              <i class="bi bi-2-circle"></i> &nbsp;Book Staff
            </h5>
          </div>
          <div class="cards py-3 px-2">
            <h5 class="text-muted" [routerLink]="['/diet/user-onboarding']">
              <i class="bi bi-3-circle"></i> &nbsp;Get Diet Plans
            </h5>
          </div>
          <div class="cards py-3 px-2 my-2" (click)="openAddAddressPopup()">
            <h5 class="text-muted">
              <i class="bi bi-4-circle"></i> &nbsp;Add Address
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Loading template -->
<!-- Add Address Popup -->
<div *ngIf="showAddAddressPopup" class="modal-backdrop fade show"></div>

<div *ngIf="showAddAddressPopup" class="modal show d-block">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4 address-modal ">
           <button
  type="button"
  class="address-close-btn position-absolute top-0 end-0 m-2"
  aria-label="Close"
  (click)="closeAddAddressPopup()">
  <i class="bi bi-x-lg"></i>
</button>
      <h5 class="mb-3">Add Address</h5>
      <div class="form-scroll">
      <form [formGroup]="addressForm" (ngSubmit)="submitAddress()">

        <!-- Full Name -->
         <div>
        <label class="form-label">Full Name</label>
        <input class="form-control" formControlName="fullName" readonly>
        <small class="error" *ngIf="addressForm.get('fullName')?.touched && addressForm.get('fullName')?.invalid">
          Full name is required
        </small>
        </div>
        <!-- Phone -->
         <div>
        <label class="form-label mt-2">Phone Number</label>
        <input class="form-control" formControlName="phoneNumber" readonly>
          </div>
          <div>
        <!-- Address Line 1 -->
        <label class="form-label mt-2">Address Line 1</label>
        <input class="form-control" formControlName="addressLine1">
        <small class="error"
          *ngIf="addressForm.get('addressLine1')?.touched && addressForm.get('addressLine1')?.invalid">
          Address line 1 is required
        </small>
        </div>
        <div>
        <!-- Address Line 2 -->
        <label class="form-label mt-2">Address Line 2</label>
        <input class="form-control" formControlName="addressLine2">
          </div>
          <div>
        <!-- Landmark -->
        <label class="form-label mt-2">Landmark</label>
        <input class="form-control" formControlName="landmark">
          </div>
        <!-- City -->
         <div>
        <label class="form-label mt-2">City</label>
        <input class="form-control" formControlName="city">
        <small class="error" *ngIf="addressForm.get('city')?.touched && addressForm.get('city')?.invalid">
          City is required
        </small>
        </div>
        <!-- State -->
         <div>
        <label class="form-label mt-2">State</label>
        <input class="form-control" formControlName="state">
        <small class="error" *ngIf="addressForm.get('state')?.touched && addressForm.get('state')?.invalid">
          State is required
        </small>
        </div>
        <!-- Pincode -->
         <div>
        <label class="form-label mt-2">Pincode</label>
        <input class="form-control" formControlName="pincode">
        <small class="error" *ngIf="addressForm.get('pincode')?.touched && addressForm.get('pincode')?.invalid">
          Enter valid 6-digit pincode
        </small>
        </div>
        <!-- Address Type -->
         <div>
        <label class="form-label mt-2">Address Type</label>
        <select class="form-control" formControlName="addressType">
          <option value="">Select</option>
          <option value="home">Home</option>
          <option value="office">Office</option>
        </select>
        <small class="error" *ngIf="addressForm.get('addressType')?.touched && addressForm.get('addressType')?.invalid">
          Address type is required
        </small>
        </div>
        <!-- Buttons -->
        <div class="d-flex justify-content-end mt-4">
          <button type="button" class="btn btn-light me-2 rounded-pill text-light" (click)="closeAddAddressPopup()">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary  rounded-pill text-light"
            [disabled]="addressForm.invalid || addressSaving">
            {{ addressSaving ? 'Saving...' : 'Save Address' }}
          </button>
        </div>

      </form>
      </div>
    </div>
  </div>
</div>



<!-- Footer -->
<div style="margin-top: 13%;">
  <app-footer></app-footer>
</div>

<app-mobile-footer-nav></app-mobile-footer-nav>