.navbar-nav .nav-link.active.rounded-pill,
.dropdown-item.active.rounded-pill, /* This styles the active dropdown item */
.nav-item.dropdown.active.rounded-pill { /* Add this to style the parent dropdown */
  background-color: #ffffff33; /* Light background for active pill */
  padding-left: 1rem;
  padding-right: 1rem;
}

/* To ensure the last item doesn't have extra margin on the right */
.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.separator-item {
  color: white; /* Or your desired color */
  padding: 0 0.2rem; /* Adjust as needed for less space */
  display: flex; /* Use flexbox to align the content */
  align-items: center; /* Vertically center the | */
}

.dropdown-toggle::after {
    border-top: none !important; 
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
}
.bi{
  color: #fff !important;
}
.modal-dialog{
  width: 80% !important; /* Adjust the width as needed */
  max-width: 1000px !important; /* Set a maximum width */
}