<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Vitoxyz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Iterate over menuItems, excluding 'Log In' and 'Sign up' as they are now separate buttons -->
        <ng-container *ngFor="let item of menuItems; let i = index">
          <!-- Regular menu items without dropdowns or icons -->
          <li class="nav-item" *ngIf="!item.dropdown && !item.icon">
            <a class="nav-link text-white" [ngClass]="{'active rounded-pill': rla.isActive}" [routerLink]="item.path"
              routerLinkActive #rla="routerLinkActive">
              {{ item.label }}
            </a>
          </li>

          <!-- Dropdown menu items -->
          <li class="nav-item dropdown" *ngIf="item.dropdown" [routerLinkActive]="['active', 'rounded-pill']"
            [routerLinkActiveOptions]="{ exact: false }">
            <a *ngIf="item.icon" class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown{{i}}"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person"></i>
            </a>

            <a *ngIf="!item.icon" class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown{{i}}"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ item.label }}
            </a>

            <ul class="dropdown-menu" [attr.aria-labelledby]="'navbarDropdown' + i">
              <li *ngFor="let dropdownItem of item.dropdownItems">
                <a class="dropdown-item" [routerLink]="dropdownItem.path" routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }">
                  {{ dropdownItem.label }}
                </a>
              </li>
            </ul>
          </li>
        </ng-container>

        <!-- Separator for Login/Sign Up buttons -->

        <!-- Login Button to open modal -->
        <li class="nav-item">
          <button type="button" class="btn nav-link text-white" data-bs-toggle="modal" data-bs-target="#authModal"
            (click)="setAuthMode('login')">
            Log In
          </button>
        </li>
        <li class="nav-item d-flex align-items-center">
          <span style="color: white; padding: 0 0.2rem;">|</span>
        </li>

        <!-- Sign Up Button to open modal -->
        <li class="nav-item">
          <button type="button" class="btn nav-link text-white" data-bs-toggle="modal" data-bs-target="#authModal"
            (click)="setAuthMode('signup')">
            Sign Up
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-authorization [authMode]="authMode"></app-authorization>

<div class="main-content-area">
  <router-outlet></router-outlet>
</div>