<div class="d-flex justify-content-center">
  <form class="auth-form p-4" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="mb-1 col-md-12">
        <label for="userName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="userName" placeholder="Enter full name" formControlName="userName"
          [class.is-invalid]="signupForm.get('userName')?.invalid && signupForm.get('userName')?.touched">
        <div *ngIf="signupForm.get('userName')?.invalid && signupForm.get('userName')?.touched"
          class="invalid-feedback">
          Full name is required.
        </div>
      </div>
      <div class="mb-1 col-md-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email" formControlName="email"
          [class.is-invalid]="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="invalid-feedback">
          Please enter a valid email.
        </div>
      </div>
      <div class="mb-1 col-md-12">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" placeholder="Enter your phone number"
          formControlName="phoneNumber"
          [class.is-invalid]="signupForm.get('phoneNumber')?.invalid && signupForm.get('phoneNumber')?.touched">
        <div *ngIf="signupForm.get('phoneNumber')?.hasError('required') && signupForm.get('phoneNumber')?.touched"
          class="invalid-feedback">
          Phone number is required.
        </div>

        <div *ngIf="signupForm.get('phoneNumber')?.hasError('minlength') && signupForm.get('phoneNumber')?.touched"
          class="invalid-feedback">
          Phone number must be 10 digits.
        </div>

        <div *ngIf="signupForm.get('phoneNumber')?.hasError('maxlength') && signupForm.get('phoneNumber')?.touched"
          class="invalid-feedback">
          Phone number must be 10 digits.
        </div>

        <div *ngIf="signupForm.get('phoneNumber')?.hasError('pattern') && signupForm.get('phoneNumber')?.touched"
          class="invalid-feedback">
          Phone number must contain digits only.
        </div>

      </div>
      <div class="mb-1 col-md-12">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password"
          formControlName="password"
          [class.is-invalid]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
        <div *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched"
          class="invalid-feedback">
          Password is required.
        </div>
        <div *ngIf="signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched"
          class="invalid-feedback">
          Password must be at least 6 characters.
        </div>
        <div *ngIf="signupForm.get('password')?.hasError('maxlength') && signupForm.get('password')?.touched"
          class="invalid-feedback">
          Password cannot be more than 14 characters.
        </div>
      </div>
      <div class="mb-1 col-md-12">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password"
          formControlName="confirmPassword"
          [class.is-invalid]="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
        <div
          *ngIf="signupForm.get('confirmPassword')?.hasError('required') && signupForm.get('confirmPassword')?.touched"
          class="invalid-feedback">
          Confirm Password is required.
        </div>
        <div *ngIf="signupForm.get('confirmPassword')?.touched && signupForm.hasError('passwordMismatch')"
          class="invalid-feedback">
          Passwords do not match.
        </div>
      </div>
    </div>
    <app-submission [buttonType]="button" [disableButton]="isLoading"></app-submission>
  </form>
</div>