<div class="d-flex justify-content-center">
  <form class="auth-form p-4" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="userName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="userName" placeholder="Enter your full name"
          formControlName="userName"
          [class.is-invalid]="signupForm.get('userName')?.invalid && signupForm.get('userName')?.touched">
        <div *ngIf="signupForm.get('userName')?.invalid && signupForm.get('userName')?.touched"
          class="invalid-feedback">
          Full Name is required.
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" placeholder="Enter your phone number"
          formControlName="phoneNumber"
          [class.is-invalid]="signupForm.get('phoneNumber')?.invalid && signupForm.get('phoneNumber')?.touched">
        <div *ngIf="signupForm.get('phoneNumber')?.invalid && signupForm.get('phoneNumber')?.touched"
          class="invalid-feedback">
          Phone number is required.
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email" formControlName="email"
          [class.is-invalid]="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="invalid-feedback">
          Please enter a valid email.
        </div>
      </div>

      <div class="mb-3 col-md-12">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" placeholder="Enter your address" formControlName="address"
          [class.is-invalid]="signupForm.get('address')?.invalid && signupForm.get('address')?.touched">
        <div *ngIf="signupForm.get('address')?.invalid && signupForm.get('address')?.touched" class="invalid-feedback">
          Address is required.
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="pinCode" class="form-label">Zip Code</label>
        <input type="number" class="form-control" id="pinCode" placeholder="Enter your zip code"
          formControlName="pinCode"
          [class.is-invalid]="signupForm.get('pinCode')?.invalid && signupForm.get('pinCode')?.touched">
        <div *ngIf="signupForm.get('pinCode')?.invalid && signupForm.get('pinCode')?.touched" class="invalid-feedback">
          Zip code is required.
        </div>
      </div>
    </div>
    <app-submission [buttonType]="button"></app-submission>

    <div class="text-center mt-3">
      <span>Already have an account? &nbsp;</span>
      <a routerLink="/login" class="links">Login</a>
    </div>
  </form>
</div>