.text-center {
    position: fixed;
    top: 50%;
    left: 45%;
}
.bi-star-half.text-warning {
  color: #000000 !important; /* Bootstrap's warning yellow */
}
.bi-star-full.text-warning {
  color: #000000 !important; /* Bootstrap's warning yellow */
}