<div class="container-fluid mt-4" *ngIf="staffDetails.length > 0">
    <div>
        <div class="row" *ngFor="let categoryGroup of staffDetails">
            <div class="col-12 mb-2">
                {{ categoryGroup.category | titlecase }} ({{ categoryGroup.availableStaff?.length || 0 | number: '2.0'
                }})
            </div>

            <div class="col-md-3 mb-4" *ngFor="let staff of categoryGroup.availableStaff; let i = index">
                <div class="card h-100">
                    <div class="row g-0">
                        <div class="col-4">
                            <div class="staff-img">
                                <img [src]="staff.imageUrl || (staff.gender?.toLowerCase() === 'female' 
                            ? '/assets/profile.jpeg' 
                            : '/assets/profile.jpeg')" class="img-fluid rounded" alt="Staff Image" />
                            </div>
                        </div>

                        <div class="col-7">
                            <div class="card-body p-2">
                                <h6 class="card-title mb-1"><span>{{ staff.name }}</span></h6>

                                <p class="mb-1 text-muted">
                                    {{ staff.experience }} Years Experience | {{ staff.duties }} Duties
                                </p>

                                <p class="mb-1">
                                    <ng-container *ngFor="let star of getStars(staff.rating)">
                                        <i class="bi" [ngClass]="{
                                    'bi-star-fill text-warning': star === 'full',
                                    'bi-star-half text-warning': star === 'half',
                                    'bi-star text-warning': star === 'empty'
                                }"></i>
                                    </ng-container>
                                    <span class="ms-1 text-warning">{{ staff.rating }}/5</span>

                                </p>

                                <p class="mb-1 text-muted">₹{{ staff.price }}</p>

                                <div class="d-flex justify-content-start gap-2 mt-2">
                                    <button class="btn btn-outline-primary actionSwap" data-bs-toggle="modal"
                                        data-bs-target="#swapStaff" (click)="selectedStaff = staff"
                                        [disabled]="staff.isBooked">
                                        <i class="bi bi-arrow-left-right"></i>
                                    </button>


                                    <button class="btn btn-sm btn-outline-danger actionDelete"
                                     data-bs-toggle="modal"
                                        data-bs-target="#deleteStaff" 
                                         (click)="selectedStaff = staff">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div *ngIf="staffDetails.length === 0" class="text-center mt-4">
        <h2>No staff found.</h2>
    </div>
</div>
<footer class="bg-white px-0">
    <div class="p-3 d-flex justify-content-between">
        <p class="text-muted">Total Staff: 01</p>
        <button class="submission btn btn-primary text-light rounded-pill btn-sm" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Proceed to Booking (1212)</button>
    </div>

</footer>

<!-- proceed to billing address -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Please Enter Billing Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Billing Address</label>
                    <input type="text" class="form-control" placeholder="Enter you billing address">
                </div>
                <div class="form-group my-3">
                    <label for="">Your Name</label>
                    <input type="text" class="form-control" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="">GST Number</label>
                    <input type="text" class="form-control" placeholder="Enter GST number">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submission text-light btn-sm w-100 rounded-pill">Proceed to
                    Payment (1212)</button>
            </div>
        </div>
    </div>
</div>

<!-- Swap staff -->
<div class="modal fade" id="swapStaff" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Please Enter Billing Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Are you Sure, you want to swap the Staff?</h5>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn submission text-light btn-sm w-100 rounded-pill">No</button>
                <button type="submit" class="btn btn-primary submission text-light btn-sm rounded-pill" (click)="addSpecificStaff(selectedStaff)">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Remove the staff -->
<div class="modal fade" id="deleteStaff" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <h5>Are you sure you want to remove this staff ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn submission text-light btn-sm w-100 rounded-pill">Cancel</button>
                <button type="submit" class="btn btn-primary submission text-light btn-sm rounded-pill" (click)="removeStaff(selectedStaff)">Remove</button>
            </div>
        </div>
    </div>
</div>