.forgot-password-form {
  h2 {
    font-weight: 600;
  }

  input.form-control {
    border-radius: 8px;
    padding: 10px;
  }

  button {
    border-radius: 20px;
  }

  .links {
    color: #00bfa6;
    cursor: pointer;
    font-weight: 500;
  }
}
