<footer *ngIf="isMobile" class="footer-nav-container fixed-bottom d-flex justify-content-around align-items-center bg-white border-top">
  
  <ng-container *ngFor="let item of navItems">
    <a [routerLink]="item.link" 
       class="nav-item d-flex flex-column align-items-center justify-content-center text-decoration-none"
       [class.special-item]="item.isSpecial"
       routerLinkActive="active">

      <div class="icon-wrapper d-flex align-items-center justify-content-center" [class.special-icon-wrapper]="item.isSpecial">
        <i class="bi" [class]="item.icon"></i>
        
        <div *ngIf="item.isSpecial" class="special-content">
          <p class="special-text">Get</p>
          <p class="special-subtext">Care Plan</p>
        </div>
      </div>
      
      <span class="nav-label" [class.d-none]="item.isSpecial">{{ item.label }}</span>
    </a>
  </ng-container>

</footer>
