<!-- Banner -->
 <app-header></app-header>
<div class="container-fluid w-100 px-0" style="margin-top: -70px ">
 <div class="d-none d-md-block">
  <div class="container-fluid w-100 px-0">
    <app-banner-slider 
  [images]="[
    'assets/medicines/updateBanner1.png',
    '../../../assets/medicines/updateBanner2.png',
    '../../../assets/medicines/updateBanner3.png',
  ]"
  [autoSlide]="true"
  [slideInterval]="4000">
</app-banner-slider>
  <!-- <img src="../../../assets/medicines/banner2.png" class="w-100" alt="" /> -->
</div>
</div>

<!-- health conecerns -->


<!-- <app-text-banner
  image="assets/medicines/banner2.png"
  title="Welcome to Vitoxyz"
  subtitle="Your trusted health partner"
  buttonText="Shop Now"
  buttonLink="/medicines">
</app-text-banner> -->

<!-- <app-header></app-header> -->


<!-- show in mobile -->
<div class="mobile-quick-access-wrapper d-block d-lg-none">
  <div class="container py-6">
    <div class="row g-3 justify-content-between"> 
      
      <div class="col-3 quick-access-tile" (click)="goToPage('pharmacy')">
        <div class="tile-icon-box">
          <img src="../../../assets/medicines/pharmacy.png" alt="Pharmacy" class="img-fluid">
        </div>
        <p class="tile-title">Pharmacy</p>
        <p class="tile-subtitle-illus">Your Trusted Online Pharmacy </p>
      </div>

      <div class="col-3 quick-access-tile" (click)="goToPage('book-staff')">
        <div class="tile-icon-box">
          <img src="../../../assets/medicines/book staff.png" alt="book staff" class="img-fluid">
        </div>
        <p class="tile-title">Book Staff</p>
        <p class="tile-subtitle-illus">Your Help, On Demand</p>
      </div>

      <div class="col-3 quick-access-tile" (click)="goToPage('subscription-plans')">
        <div class="tile-icon-box">
          <img src="../../../assets/medicines/diet.png" alt="subscription-plans" class="img-fluid">
        </div>
        <p class="tile-title">Dieticiean</p>
        <p class="tile-subtitle-illus">Your Nutrition, Our Mission</p>
      </div>

      <!-- <div class="col-3 quick-access-tile" (click)="goToPage('vaccines')">
        <div class="tile-icon-box">
          <img src="../../../assets/icons/vaccines-icon.png" alt="Doctor" class="img-fluid">
        </div>
        <p class="tile-title">Doctor</p>
        <p class="tile-subtitle">Doctor Consuts</p>
      </div> -->

    </div>
  </div>
</div>

<!-- visible in mobile -->
<div class="d-block d-md-none">
<app-banner-slider 
  [images]="[
    'assets/medicines/updateBanner1.png',
    '../../../assets/medicines/updateBanner2.png',
    '../../../assets/medicines/updateBanner3.png',
  ]"
  [autoSlide]="true"
  [slideInterval]="4000">
</app-banner-slider>

<!-- <app-text-banner
  image="../../../assets/medicines"
  title="Welcome to Vitoxyz"
  subtitle="Your trusted health partner"
  buttonText="Shop Now"
  buttonLink="/medicines">
</app-text-banner> -->
</div>
<!-- Brand Carousel Section -->

<!-- human implementation -->
<div class="category-section">
  <div class="category-section-header mat-elevation-z2">
    <h2>Everyday Wellness</h2>
    </div>

  <div class="carousel-container">
    
    <button
      class="side-nav-button fa fa-chevron-left left-button mat-elevation-z4"
      (click)="scrollCarousel('left')"
    >
       </button>

    <div #categoryCarouselWrapper class="carousel-wrapper">
      <mat-card
        *ngFor="let category of categories"
        class="category-card mat-elevation-z4"
        (click)="fetchProductsByCategory(category.apiValue)"
      >
        <img mat-card-image [src]="category.imageUrl" [alt]="category.altText" />
        <mat-card-content>
          <h3>{{ category.name }}</h3>
        </mat-card-content>
      </mat-card>
    </div>

    <button
      class="side-nav-button fa fa-chevron-right right-button mat-elevation-z4"
      (click)="scrollCarousel('right')"
    >
     </button>
    
  </div>
</div>

<!-- Brand Carousel (Manual Scroll Version) -->
<div class="featured-brands-section">
  <div class="featured-header">
    <h2>Featured brands</h2>
  </div>

  <div class="brand-carousel-container">
    <!-- Left Scroll Button -->
   <button
      class="side-nav-button fa fa-chevron-left left-button mat-elevation-z4"
      (click)="scrollBrandCarousel('left')"
    >
       </button>

    <!-- Scrollable Wrapper -->
    <div #brandCarouselWrapper class="brand-carousel-wrapper">
      <div class="brand-card" *ngFor="let brand of brandsone">
        <div class="brandBackground">
          <img [src]="brand.image" [alt]="brand.name" />
        </div>
      </div>
    </div>

    <!-- Right Scroll Button -->
    <button
      class="side-nav-button fa fa-chevron-right right-button mat-elevation-z4"
      (click)="scrollBrandCarousel('right')"
    >
     </button>
  </div>
</div>




<!-- <div id="brandCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <div class="row justify-content-center g-2">
        
        <div class="col-4 col-md-3 col-lg-2 p-2">
          <div class="brandBackground">
            <img src="../../../assets/medicines/cetaphil-brand.png" alt="Brand 1" />
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2 p-2">
          <div class="brandBackground">
            <img src="../../../assets/medicines/dabur-brand.png" alt="Brand 2" />
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2 p-2"> 
          <div class="brandBackground">
            <img src="../../../assets/medicines/morepen-brand.png" alt="Brand 3" />
          </div>
        </div>
        
        <div class="col-4 col-md-3 col-lg-2 p-2">
          <div class="brandBackground">
            <img src="../../../assets/medicines/organic-brand.png" alt="Brand 4" />
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2 p-2"> 
          <div class="brandBackground">
            <img src="../../../assets/medicines/minimalist-brand.png" alt="Brand 5" />
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2 p-2"> 
          <div class="brandBackground">
            <img src="../../../assets/medicines/on-brand.png" alt="Brand 6" />
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2 p-2">
          <div class="brandBackground">
            <img src="../../../assets/medicines/protinex-brand.png" alt="Brand 7" />
          </div>
        </div>
      </div>
    </div>

     <div class="carousel-item">
      <div class="row justify-content-center g-2">
        
        
       
   
      </div>
    </div> 
  </div>
  
  
</div> -->

<div class="d-none d-md-block">
    <app-health-carousel [items]="healthItems"></app-health-carousel>
</div>

<div class="d-block d-md-none">
    <app-health-carousel [items]="healthItems1"></app-health-carousel>
</div>


<!-- featured brands -->
 <!-- It is for branding purpose only, will implement later -->

<!-- testing -->
<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Walker'" 
  [title]="'Testing product'">
</app-common-filter-component> -->



<app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Tablet'" 
  [title]="' Power Up with Multivitamins '">
</app-common-filter-component>

<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Juice'" 
  [title]="'Nature’s aloe, your daily boost'">
</app-common-filter-component> -->

<!-- personal care -->
<div class="category-section">
  <div class="category-section-header mat-elevation-z2">
    <h2>Popular categories</h2>
    </div>

  <div class="carousel-container">
    
    <button
      class="side-nav-button fa fa-chevron-left left-button mat-elevation-z4"
      (click)="scrollCarousel2('left')"
    >
     </button>

    <div #categoryCarouselWrapper2 class="carousel-wrapper">
      <mat-card
        *ngFor="let category of categories2"
        class="category-card mat-elevation-z4"
        (click)="fetchProductsByCategory(category.apiValue)"
      >
        <img mat-card-image [src]="category.imageUrl" [alt]="category.altText" />
        <mat-card-content>
          <h3>{{ category.name }}</h3>
        </mat-card-content>
      </mat-card>
    </div>

    <button
      class="side-nav-button fa fa-chevron-right right-button mat-elevation-z4"
      (click)="scrollCarousel2('right')"
    >
   </button>
    
  </div>
</div>

<app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Cream'" 
  [title]="'Care your skin deserves.'">
</app-common-filter-component>

<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Biochemic Tablet'" 
  [title]="'Small tablet, big relief.'">
</app-common-filter-component> -->

<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Jar'" 
  [title]="'Your daily dose of health.'">
</app-common-filter-component> -->

<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Walker'" 
  [title]="'Support that cares'">
</app-common-filter-component> -->

<div class="category-section">
  <div class="category-section-header mat-elevation-z2">
    <h2>Super saving deals</h2>
    </div>

  <div class="carousel-container">
    
    <button
      class="side-nav-button fa fa-chevron-left left-button mat-elevation-z4"
      (click)="scrollCarousel3('left')"
    >
       </button>

    <div #categoryCarouselWrapper3 class="carousel-wrapper">
      <mat-card
        *ngFor="let category of categories4"
        class="category-card mat-elevation-z4"
        (click)="fetchProductsByCategory(category.apiValue)"
      >
        <img mat-card-image [src]="category.imageUrl" [alt]="category.altText" />
        <mat-card-content>
          <h3>{{ category.name }}</h3>
        </mat-card-content>
      </mat-card>
    </div>

    <button
       class="side-nav-button fa fa-chevron-right right-button mat-elevation-z4"
      (click)="scrollCarousel3('right')"
    >
     </button>
    
  </div>
</div>
<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Paste'" 
  [title]="'Testing product'">
</app-common-filter-component> -->

<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Murabba'" 
  [title]="'A sweet way to stay healthy'">
</app-common-filter-component> -->

<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Biscuit'" 
  [title]="'Snack smart, live better'">
</app-common-filter-component> -->

<app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Cookie'" 
  [title]="'Sweet moments, healthy choices'">
</app-common-filter-component>


<!-- popular category -->
<!-- 
<div class="category-section">
  <div class="category-section-header mat-elevation-z2">
    <h2>Trending Now</h2>
    </div>

  <div class="carousel-container">
    
    <button
      class="side-nav-button left-button mat-elevation-z4"
      (click)="scrollCarousel('left')"
    >
      &lt; </button>

    <div #categoryCarouselWrapper class="carousel-wrapper">
      <mat-card
        *ngFor="let category of categories2"
        class="category-card mat-elevation-z4"
        (click)="fetchProductsByCategory(category.apiValue)"
      >
        <img mat-card-image [src]="category.imageUrl" [alt]="category.altText" />
        <mat-card-content>
          <h3>{{ category.name }}</h3>
        </mat-card-content>
      </mat-card>
    </div>

    <button
      class="side-nav-button right-button mat-elevation-z4"
      (click)="scrollCarousel('right')"
    >
      &gt; </button>
    
  </div>
</div> -->

<!-- future implementation -->

<!-- Syrup Products -->
<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Diaper'" 
  [title]="'Caring for every tiny move.'">
</app-common-filter-component> -->

<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Spray'" 
  [title]="'Top deals of Spray '">
</app-common-filter-component> -->


<ng-template #loadingOrError>
  <p *ngIf="!isLoaded">Loading…</p>
  <p *ngIf="isLoaded && hasError">Error loading medicine data.</p>
</ng-template>




<app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Shampoo'" 
  [title]="'Healthy Hair Starts Here '">
</app-common-filter-component>

<app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Oil'" 
  [title]="'Wellness you can feel'">
</app-common-filter-component>



<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Pillow'" 
  [title]="'testing Products'">
</app-common-filter-component> -->

<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Dry Fruit'" 
  [title]="'Top deals of Dry Fruit '">
</app-common-filter-component> -->

<!-- <app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Nut'" 
  [title]="' Top deals of nut& Dry Fruit'">
</app-common-filter-component> -->

<app-common-filter-component 
  [endpoint]="'products/filter'" 
  [productForm]="'Yoga Mat'" 
  [title]="' Support your every pose'">
</app-common-filter-component>
<!-- Content area -->
<div class="container my-5">
  <h4>Welcome to Vitoxyz: Your Trusted Digital Pharmacy & Health Companion</h4>
  <p>
    Say goodbye to long queues and hello to effortless healthcare! At Vitoxyz,
    we bring the pharmacy to your fingertips—making health and wellness more
    accessible, affordable, and reliable than ever.
  </p>

  <h4>Why Choose Vitoxyz?</h4>
  <h6>Your Health, Our Priority</h6>
  <p>
    At Vitoxyz, we prioritize your health and well-being. Our platform offers a
    wide range of services, from online consultations to medicine delivery, all
    designed to make healthcare more convenient for you.
  </p>
  <h6>Convenience at Your Fingertips</h6>
  <p>
    With Vitoxyz, you can order medicines, book staff, and even get personalized
    diet plans—all from the comfort of your home. Our user-friendly interface
    ensures a seamless experience, whether you're ordering medicines or
    consulting with healthcare professionals.
  </p>
  <h6>Quality You Can Trust</h6>
  <p>
    We partner with licensed pharmacies and certified healthcare professionals
    to ensure that you receive genuine medicines and expert advice. Your health
    is our top priority, and we strive to maintain the highest standards of
    quality and safety.
  </p>
  <h6>Affordable Healthcare Solutions</h6>
  <p>
    We believe that quality healthcare should be affordable for everyone. That's
    why we offer competitive prices, exclusive discounts, and various payment
    options to suit your needs. With Vitoxyz, you can access the healthcare you
    deserve without breaking the bank.
  </p>
  <h6>Stay Connected</h6>
  <p>
    Follow us on social media to stay updated on the latest health tips,
    promotions, and news. Join our community and be part of a movement towards
    better health and wellness.
  </p>
  <h6>Download Our App</h6>
  <p>
    Experience the full range of Vitoxyz services at your fingertips. Download
    our app today!
  </p>
  <p>
    Thank you for choosing Vitoxyz as your trusted healthcare partner. We look
    forward to serving you and helping you achieve your health goals.
  </p>
</div>

<!-- App footer -->
 <div>
<app-footer></app-footer>
 </div>

<div>
<app-mobile-footer-nav></app-mobile-footer-nav>
</div>

