@use 'sass:map';
@use '@angular/material' as mat;

// Define your custom palettes as a public variable
$palettes: (
  primary: (
    50: #e3fffe,
    100: #aefffd,
    200: #68f7f6,
    300: #43dbd9,
    400: #00bfbe,
    500: #00a1a0,
    600: #008584,
    700: #006a69,
    800: #00504f,
    900: #002020,
    A100: #ffffff,
    A200: #f1fffe,
    A400: #a8fffd,
    A700: #003232,
    contrast: (
      500: #000000
    )
  ),
  secondary: (
    50: #e9fdff,
    100: #c6faff,
    200: #7af4ff,
    300: #4cd9e4,
    400: #1ebdc8,
    500: #00a0aa,
    600: #00848c,
    700: #006970,
    800: #004f54,
    900: #002022,
    A100: #ffffff,
    A200: #f4feff,
    A400: #c2faff,
    A700: #003235,
    contrast: (
      500: #000000
    )
  ),
  tertiary: (
    50: #e4fffb,
    100: #b2fff6,
    200: #7df6eb,
    300: #5ed9ce,
    400: #3cbdb3,
    500: #01a298,
    600: #00867d,
    700: #006a63,
    800: #00504b,
    900: #00201d,
    A100: #ffffff,
    A200: #f2fffc,
    A400: #adfff6,
    A700: #00322f,
    contrast: (
      500: #000000
    )
  )
);