html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


body {
    height: 100%;
    margin: 0;
    font-size: 14px !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    &:hover {
        overflow-y: auto;
    }

    &:focus-within {
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: 3px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #09b8c2;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
}

.addNewBtn {
    border: 1px dashed #14bbc1;
}

.bold {
    font-weight: 500;
}

a {
    text-decoration: none;
    ;
}

.strike {
    text-decoration: line-through;
}

.cartBoxes {
    border: 1.35px solid #0BBBC1 !important;
}

.strong {
    font-weight: 500;
}

.form-control {
    border-radius: 20px !important;
}