// @use './custom-theme' as *;


html,
body {
    height: 100%;
}

body {
    background-color: #fff !important;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


body {
    height: 100%;
    margin: 0;
    font-size: 14px !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    &:hover {
        overflow-y: auto;
    }

    &:focus-within {
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: 3px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #09b8c2;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
}

.addNewBtn {
    border: 1px dashed #14bbc1;
}

.bold {
    font-weight: 500;
}

a {
    text-decoration: none;
    ;
}

.strike {
    text-decoration: line-through;
}

.cartBoxes {
    border: 1.35px solid #0BBBC1 !important;
}

.strong {
    font-weight: 500;
}

.form-control,
.form-select {
    border-radius: 19px !important;
    color: #7D8282 !important;
    font-size: small !important;
}

.link {
    cursor: pointer;
}

.spinner-border {
    width: 20px !important;
    height: 20px !important;
    font-size: x-small !important;
    top: 60% !important;
}

.cards {
  box-shadow: 1px 2px 7px #e0e2e2;
  border-radius: 10px
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .custom-dialog .mat-mdc-dialog-container {
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
}
